/* reset S */
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
header,
section,
article,
footer {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, "\5FAE\8F6F\96C5\9ED1", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
em,
b {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}
body {
  padding-top: 42px;
}
button,
input,
select,
textarea {
  outline: none;
  font-size: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th,
ul,
ol {
  padding: 0;
}
/* reset E */

/* fonts */
@font-face {
  font-family: "Rock";
  src: url("img/ROCK.ttf");
}

/*Container*/
.wrap {
  position: relative;
  overflow: hidden;
  margin: -42px auto 0;
  min-width: 1200px;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  font-size: 0;
}

/*header & menu*/
.header {
}
.nav {
}

/*Style reversal*/
.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}


/*Black 1*/
.wrapper1 {
  overflow: hidden;
  height: 600px;
  background: url(../img/bg_01.png) no-repeat center;
}
.main {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

/*Black 2*/
.wrapper2 {
  overflow: hidden;
  height: 600px;
  background: url(../img/bg_02.png) no-repeat center;
}

/*Black 3*/
.wrapper3 {
  overflow: hidden;
  height: 600px;
  background: url(../img/bg_03.png) no-repeat center;
}

/*Black 4*/
.wrapper4 {
  overflow: hidden;
  height: 600px;
  background: url(../img/bg_04.png) no-repeat center;
}

/*Black 5*/
.wrapper5 {
  overflow: hidden;
  height: 1080px;
  background: url(../img/bg_05.jpg) no-repeat center;
}

/*foot*/
.footer {
  position: relative;
  margin-top: 0px;
  padding-top: 20px;
  min-width: 1200px;
  height: 98px;
  background: #000000;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: "tahoma";
  line-height: 25px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

/*dialog styles*/
.dialog {
  width: 806px;
  height: 623px;
  background: url(../img/popup-bg.png) no-repeat;
}

.dialog .dia-con {
  position: relative;
}
.dialog .dia-close {
  position: absolute;
  top: 0;
  right: -21px;
  width: 46px;
  height: 46px;
  background: url(../img/close-btn.png) no-repeat;
}
#recordinfo .dia-con {
  width: 760px;
  height: 596px;
}

/*������ styles*/
.scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 750px;
  height: 320px;
}
.scrollbar::-webkit-scrollbar {
  /*������������ʽ*/
  width: 10px; /*�߿��ֱ��Ӧ�����������ĳߴ�*/
  height: 75px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*����������С����*/
  background: #ffffff;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  /*������������*/
  background: #243386;
}
