/* fonts */
@font-face {
  font-family: "Rock";

src: url("img/ROCK.ttf");

  }

/*Container*/
.wrap {
  position: relative;

overflow: hidden;

margin: -42px auto 0;

min-width: 1200px;

max-width: 1920px;

width: 100%;

height: 100%;

font-size: 0;

  }

/*header & menu*/
.header {
}
.nav {
}

/*Style reversal*/
.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

/*Black 1*/
.wrapper1 {
  overflow: hidden;

height: 600px;

background: url(../img/bg_01.png) no-repeat center;

  }
.main {
  position: relative;

overflow: hidden;

margin: 0 auto;

width: 1200px;

height: 100%;

  }

/*Black 2*/
.wrapper2 {
  overflow: hidden;

height: 600px;

background: url(../img/bg_02.png) no-repeat center;

  }

/*Black 3*/
.wrapper3 {
  overflow: hidden;

height: 600px;

background: url(../img/bg_03.png) no-repeat center;

  }

/*Black 4*/
.wrapper4 {
  overflow: hidden;

height: 600px;

background: url(../img/bg_04.png) no-repeat center;

  }

/*Black 5*/
.wrapper5 {
  overflow: hidden;

height: 1080px;

background: url(../img/bg_05.jpg) no-repeat center;

  }

/*foot*/
.footer {
  position: relative;

margin-top: 0px;

padding-top: 20px;

min-width: 1200px;

height: 98px;

background: #000000;

color: #fff;

text-align: center;

font-size: 12px;

font-family: "tahoma";

line-height: 25px;

  }

.footer a {
  color: #fff;

text-decoration: none;

  }

/*dialog styles*/
.dialog {
  width: 806px;

height: 623px;

background: url(../img/popup-bg.png) no-repeat;

  }

.dialog .dia-con {
  position: relative;
}
.dialog .dia-close {
  position: absolute;

top: 0;

right: -21px;

width: 46px;

height: 46px;

background: url(../img/close-btn.png) no-repeat;

  }
#recordinfo .dia-con {
  width: 760px;

height: 596px;

  }

/*滚动条 styles*/
.scrollbar {
  overflow-x: hidden;

overflow-y: scroll;

width: 750px;

height: 320px;

  }
.scrollbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/

height: 75px;

  }
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;

/*滚动条里面小方块*/
  background: #ffffff;

  }
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;

/*滚动条里面轨道*/
  background: #243386;

  }
